.comprar {
  .titulo {
    @include titleWhite();
  }
  @include desktop {
    font-size: 24px;
  }
  margin: auto;
  margin-top: 20px;
  // * ===============================================
  // * PREMIO PRINCIPAL
  // * ===============================================
  .principal {
    height: 140px;
    background: $blackL;
    text-align: center;
    @include desktop {
      height: 120px;
    }
    .principal__item {
      width: 95%;
      margin: auto;
      p {
        color: $white;
        padding: 20px;
        padding-top: 0;
        margin: 0px;
      }
      span {
        padding-top: 20px;
        display: block;
        color: $white;
        font-size: 30px;
      }
    }
  }
  // * ===============================================
  // * IMAGEN
  // * ===============================================
  .imagen {
    margin: auto;
    margin-top: 20px;
    .imagen__item {
      margin: auto;
      background-image: url('../img/premio.jpg');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      height: 230px;
      width: 350px;
      border: solid 3px $redB;
      @include desktop {
        height: 450px;
        width: 850px;
      }
    }
  }
  // * ===============================================
  // * COSTO BOLETOS
  // * ===============================================
  .costo {
    margin: auto;
    margin-top: 20px;
    text-align: center;
    h2 {
      color: $redB;
      margin-bottom: 15px;
    }
    .costo__item {
      height: 335px;
      background: $blackL;
      padding-top: 20px;      
      @include desktop {
        height: 455px;
      }
      p {
        color: $white;
        margin: 8px;
      }
    }
  }
  // * ===============================================
  // * PREMIOS
  // * ===============================================
  .premios {
    margin: auto;
    margin-top: 20px;
    text-align: center;
    h3 {
      color: $redB;
      margin: 0px;
    }
    .premios__item {
      width: 95%;
      margin: auto;
      p {
        margin-top: 0px;
      }
    }
  }
  // * ===============================================
  // * BUSCAR BOLETO
  // * ===============================================
  .boleto {
    margin: auto;
    margin-top: 20px;
    .boleto__botones {
      ::placeholder {
        color: $blackL;
      }
      .nuevoBoleto {
        margin: auto;
        display: block;
        margin-top: 20px;
      }
    }
    .mostrar__boletos {
      background: $white;
      width: 85%;
      height: 300px;
      display: flex;
      margin: auto;
      margin-top: 20px;
      flex-wrap: wrap;
      overflow: scroll;
      justify-content: space-around;
      padding: 20px;
      cursor: pointer;
      @include desktop {
        width: 875px;
        height: 400px;
      }
    }
  }

  .form-control {
    margin-top: 20px;
    width: 300px;
  }

  .girar__maquina {
    display: none;
    .suerte__maquina {
      background: rgba(0, 0, 0, 0.3);
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .mostrar_datos_boleto {
    background: $gray;
    border: 1px solid $blackL;
    margin: auto;
    margin-top: 20px;
    height: 275px;
    overflow: scroll;
    width: 85%;
  }

  .apartar {
    width: 200px;
  }
  // * ===============================================
  // * APARTAR BOLETO
  // * ===============================================
  .folio {
    text-align: right;
    padding-right: 10px;
  }
  .datos__ticket {
    text-align: left;
    padding-left: 10px;
  }
  .estatus__ticket {
    color: $redB;
  }
  .etiqueta {
    font-size: 14px;
    font-weight: bold;
  }
}

.verde {
  color: $green;
}
.rojo {
  color: $redB;
}

// * ===============================================
// * DENTRO
// * ===============================================
.apartar__boletos {
  background: $white;
  width: 85%;
  display: block;
  margin: auto;
  margin-top: 20px;
  justify-content: space-around;
  padding: 20px;
  @include desktop {
    width: 875px;
  }
}
.mostrar__boletos__seleccionado {
  background: $white;
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  justify-content: space-around;
  height: 100px;
  cursor: pointer;
  margin-top: 20px;
  @include desktop {
    width: 875px;
  }
}

.encerrar__boletos {
  border: solid 2px $redB;
  width: 80px;
  text-align: center;
  margin: auto;
  margin-bottom: 10px;
}

.generar__seleccionado {
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 10px;
  height: 60px;
  margin-top: 20px;
  @include desktop {
    width: 450px;
  }
}
