.btn__back{
  background: $green;
  border-radius: 5px;
  color: $white;
  display: block;
  font-weight: bold;
  margin: auto;
  margin-top: 20px;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  width: 100px;
}