// * ===============================================
// * Font
// * ===============================================
$font: 'Roboto', sans-serif;

// * ===============================================
// * Responsive
// * ===============================================
$md: 768px;
$xl: 1024px;

// * ===============================================
// * Colors
// * ===============================================
$red: #f6140d;
$redB: #bd1409;
$blue: #509ee3;
$whiteL: #f4f4f4;
$white: #ffffff;
$green: #66b73b;
$lemon: #8ae80a;
$blackL: #1e1e1e;
$gray: #d9d9d9;

// * ===============================================
// * Variables Color
// * ===============================================
$fill: $whiteL;
