// * ===============================================
// * Font
// * ===============================================
$font: 'Roboto', sans-serif;

// * ===============================================
// * Responsive
// * ===============================================
$md: 768px;
$xl: 1024px;

// * ===============================================
// * Colors
// * ===============================================
$red: #F6140D;
$redB:#BD1409;
$blue:#509EE3;
$whiteL:#F4F4F4;
$white:#FFFFFF;
$green:#66B73B;
$lemon:#8AE80A;
$blackL:#1E1E1E;

// * ===============================================
// * Variables Color
// * ===============================================
$fill:$whiteL;