footer{

  background:$red;
  margin-top: 20px;  
  .footerCentro{        
    margin: auto;
    text-align: center;    
    width: 1400px;
    text-transform: uppercase;
    a{
      display: block;
      padding: 5px;                  
      color: $white;      
      &:nth-child(2){
        margin-top: 5px;
      }
      @include mxBold();
    }   
  }
}